.board {
  display: grid;
  justify-content: center;
  align-content: center;
  color: white;
  user-select: none;
}
.players {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  font-weight: bolder;
  margin-bottom: 5px;
  cursor: default;
  border-bottom: 1px solid white;
}

.navbar {
  display: flex;
  height: 30px;
  justify-content: space-between;
  transition: all 0.5s;
}
.navbar .title {
  font-weight: bolder;
  padding: 5px;
}
.navbar .close-btn {
  height: 30px;
  font-weight: 900;
  background: transparent;
  border: none;
  color: white;
  width: 30px;
}
.navbar .close-btn:hover {
  background: red;
}
.navbar .close-btn:focus {
  outline: none;
}
.container {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
  max-height: 300px;
}
.container > button {
  position: relative;
  height: 100px;
  width: 100px;
  border: 2px solid #353636;
  background-color: #0f0f0f;
  font-size: 75px;
  transition: all 0.5s;
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
}
.container > button:hover {
  background-color: #505252;
}

.container > button:focus {
  outline: none;
}

.reset-btn {
  margin: 0 auto;
  margin-top: 10px;
  height: 40px;
  width: 100px;
  background: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 0.5rem;
  transition: all 0.5s;
  font-size: large;
  font-weight: bolder;
  cursor: pointer;
}

.reset-btn:hover {
  background-color: #646464;
  transform: scale(1.08);
}

.reset-btn:focus {
  outline: none;
}
